apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-web-app
spec:
  replicas: 2 # Run two copies of my app for safety
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: my-container
        # Use the EXACT name of the image you pushed to ACR
        image: ACRDockerUpload.azurecr.io/nginx:v1 
        ports:
        - containerPort: 80

apiVersion: v1
kind: Service
metadata:
  name: my-nginx-service
spec:
  type: LoadBalancer # This tells Azure to give you a real Public IP
  ports:
  - port: 80        # The port you type in your browser
    targetPort: 80  # The port your container is listening on
  selector:
    app: nginx      # This MUST match the labels in your deployment.yaml
