apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-web-app
spec:
  replicas: 2 # Run two copies of my app for safety
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
      - name: my-container
        # Use the EXACT name of the image you pushed to ACR
        image: ACRDockerUpload.azurecr.io/nginx:v1 
        ports:
        - containerPort: 80
