name: Push to ACR via OIDC

on:
  workflow_dispatch:

permissions:
  id-token: write # Required for requesting the JWT
  contents: read  # Required for actions/checkout

jobs:
  move-image:
    runs-on: ubuntu-latest
    steps:
      - name: Azure Login
        uses: [azure/login@v2](https://github.com)
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Login to ACR
        run: |
          az acr login --name ACRDockerUpload # Replace with your ACR name

      - name: Pull and Push
        run: |
          docker pull nginx:latest
          docker tag nginx:latest ACRDockerUpload.azurecr.io/nginx:v1
          docker push ACRDockerUpload.azurecr.io/nginx:v1
